spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
  mvc:
    favicon:
      enabled: false
  servlet:
    multipart:
      enabled: true
      # 上传文件总的最大值
      max-request-size: 10MB
      # 单个文件的最大值
      max-file-size: 10MB
server:
  port: 8080
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true